.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 150px;
    background-color: whitesmoke;
    gap: 15px;
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out;
}

.headercontainer, .infocontainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    opacity: 0; /* Inicio invisible */
    transform: translateY(20px); /* Inicia desplazado hacia abajo */
}

.headercontainer {
    width: 40%;
    text-align: center;
    justify-content: start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #dfdeda;
    padding: 50px;
    animation: slideInFromLeft 2s forwards ease-in-out; 
}

.infocontainer {
    width: 60%;
    text-align: start;
    justify-content: start;
    gap: 15px;
    animation: slideInFromRight 2s forwards ease-in-out;
}

@media (max-width: 1120px) {
    .container {
        padding: 20px 100px; 
    }
}

@media (max-width: 1050px) {
    .container {
        padding: 20px 60px; 
    }
}

@media (max-width: 980px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px 0px; 
    }
    .headercontainer, .infocontainer {
        width: 95%;
        justify-content: center;
        text-align: center;
        animation: slideInFromTop 0.8s forwards ease-in-out;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}