.aboutcontainer {
    color: #333;
    background-color: white;
    border-radius: 10px; 
    border: 1px solid #dfdeda;
    box-sizing: border-box;
    padding: 20px 50px;
}

.abouttext {
    font-weight: 500;
    line-height: 1.5; 
}