.contactcontainer {
    background-color: white;
    border-radius: 10px; 
    border: 1px solid #dfdeda;
    box-sizing: border-box;
    padding: 20px 50px;
    font-weight: 500;
    color: #333
  }

.datacontainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.inputcontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.input {
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    padding: 8px 12px;
}

.input:focus {
    border: none;
    outline: none;
}

.contactError {
    font-size: 14px;
    color: rgb(177, 16, 16);
    line-height: 1; 
}

.contactbutton {
    display: flex;
    background-color: #002c5c;
    color:white;
    font-weight: 600;
    border-radius: 15px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    margin-left: auto;
    font-size: 18px;
}

.contactbutton:hover {
    background-color: #333 ;
    opacity: 0.7 ;
}


@media (max-width: 980px) {
    .datacontainer {
        display: flex;
        flex-direction: column;
        gap: 0px;
        
    }
    .inputcontainer {
        text-align: start;
    }
}
